.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  list-style-type: none;
}

h1 {
  color: blueviolet;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  margin-top: 50px;
  padding: 20px;
  font-size: 15px;
  color: gray;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}